/* ------------------------ Index Page General Styles ----------------------- */
.section-content {
  padding: 60px 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.section-header {
  text-transform: uppercase;
}

/* --------------------------- Main Section Styles -------------------------- */

.main-section {
  width: auto;
  height: 100vh;
  background-image: url("@img/Quads_main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 45%;
  z-index: 0;
}

.main-section-content {
  width: 380px;
  height: auto;
  top: 30%;
  right: 10%;
  position: absolute;
  text-align: right;
}

.main-section-name {
  font-size: 60px;
  text-align: right;
  line-height: 1em;
  display: inline;
  font-family: Gravity-Light;
  text-transform: uppercase;
}

.main-section-description {
  text-align: right;
  font-size: 18px;
  z-index: 0;
  font-family: Gravity-Light;
}

@media screen and (max-width: 992px) {
  .main-section {
    background-image: url("@img/Quads_phone.jpg");
    background-size: contain;
    display: flex;
    width: 100%;
    height: 100vh;
    background-size: 80%;
    background-position-x: left;
    background-position-y: bottom;
  }

  .main-section-name {
    font-size: clamp(1rem, 50px, 5rem);
  }

  .main-section-description {
    font-weight: bolder;
    font-size: clamp(1rem, 10px, 4rem);
  }
}

@media screen and (max-width: 768px) {
  .main-section {
    background-size: 70%;
  }
}

@media screen and (max-width: 600px) {
  .main-section {
    background-image: url("@img/Quads_phone.jpg");
    background-size: contain;
    display: flex;
    width: 100%;
    height: 100vh;
    background-size: 80%;
    background-position-x: left;
    background-position-y: bottom;
  }

  .main-section-content {
    width: 100%;
    inset: 0;
    transform: translateY(var(--nav-height));
    text-align: center;
  }

  .main-section-name {
    font-size: clamp(1rem, 35px, 4rem);
  }

  .main-section-description {
    font-weight: bolder;
    font-size: clamp(1rem, 10px, 4rem);
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .main-section {
    background-size: 90%;
  }
}

@media screen and (max-width: 375px) {
  .main-section {
    background-size: 90%;
  }

  .main-section-description {
    font-size: 15px;
    line-height: normal;
  }
}

/* -------------------------- Second Section Styles ------------------------- */

.second-section {
  background-color: var(--color-black);
  color: var(--color-white);
  z-index: 0;
}

.about-me {
  text-align: justify;
}

.second-section p {
  padding: 20px 0px 60px;
  font-family: SF Mono Light;
  font-size: 15px;
}

@media (max-width: 768px) {
  .section-content {
    margin-left: 0px;
    margin-right: 0px;
  }

  .section-content p {
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.08em;
    padding: 0px 15px;
  }
}

/* -------------------------- Third Section Styles -------------------------- */

.third-section {
  border: none;
  background-color: #ffffff;
  color: #191919;
}

.my-work {
  padding: 60px 15px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: SF Mono Light;
  font-size: 15px;
}

.my-work h2 {
  font-family: Gravity-Light;
  font-size: 30px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .my-work {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
  }

  .featured-projects {
    padding: 0px 15px;
  }
}

/* -------------------- Fourth Section / Future Ventures -------------------- */

.fourth-section {
  border: none;
  padding-top: 20px;
  background-color: #ffffff;
  color: var(--color-black);
}

.future-ventures {
  padding: 60px 15px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: SF Mono Light;
  font-size: 15px;
}

#fourth-section-header {
  font-family: Gravity-Light;
  padding-bottom: 10px;
  font-size: 30px;
  text-transform: uppercase;
}

.venture-list {
  list-style-position: inside;
}

.venture-list li {
  font-size: 15px;
  font-weight: 600;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .future-ventures {
    margin-left: 0px;
    margin-right: 0px;
  }

  #fourth-section-header {
    padding-bottom: 0px;
  }

  .section-header {
    line-height: 1.3em;
  }

  .categories {
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 15px;
  }
}
