.mainSection {
  width: auto;
  height: 100vh;
  background-image: url("@img/Quads_main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 45%;
  z-index: 0;
}

.header {
  width: 380px;
  height: auto;
  top: 30%;
  right: 10%;
  position: absolute;
  text-align: right;
}

.headerName {
  font-size: 60px;
  text-align: right;
  line-height: 1em;
  display: inline;
  font-family: Gravity-Light;
  text-transform: uppercase;
}

.headerDescription {
  text-align: right;
  font-size: 18px;
  z-index: 0;
  font-family: Gravity-Light;
}

@media screen and (max-width: 992px) {
  .mainSection {
    background-image: url("@img/Quads_phone.jpg");
    background-size: contain;
    display: flex;
    /* align-items: center; */
    width: 100%;
    height: 100vh;
    background-size: 80%;
    background-position-x: left;
    background-position-y: bottom;
  }

  /* .header {
    width: 100%;
    inset: 0;
    transform: translateY(var(--nav-height));
    text-align: center;
  } */

  .headerName {
    font-size: clamp(1rem, 50px, 5rem);
    /* text-align: left; */
  }

  .headerDescription {
    font-weight: bolder;
    font-size: clamp(1rem, 10px, 4rem);
    /* text-align: center; */
  }
}

@media screen and (max-width: 768px) {
  .mainSection {
    background-size: 70%;
  }
}

@media screen and (max-width: 600px) {
  .mainSection {
    background-image: url("@img/Quads_phone.jpg");
    background-size: contain;
    display: flex;
    /* align-items: center; */
    width: 100%;
    height: 100vh;
    background-size: 80%;
    background-position-x: left;
    background-position-y: bottom;
  }

  .header {
    width: 100%;
    inset: 0;
    transform: translateY(var(--nav-height));
    text-align: center;
  }

  .headerName {
    font-size: clamp(1rem, 35px, 4rem);
    /* text-align: left; */
  }

  .headerDescription {
    font-weight: bolder;
    font-size: clamp(1rem, 10px, 4rem);
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .mainSection {
    background-size: 90%;
  }
}

@media screen and (max-width: 375px) {
  .mainSection {
    background-size: 90%;
  }

  .headerDescription {
    font-size: 15px;
    line-height: normal;
  }
}
