.project-elem {
  background-color: #1f1f1f;
  color: var(--color-white);
  font-family: Proxima-Nova;
  display: flex;
  flex-direction: column;
  grid-template-rows: 25% auto 25%;
  border-radius: var(--border-radius);
  padding: 20px;
  transition: var(--transition);
}

.project-elem:hover {
  transform: translateY(-7px);
}

.card-name {
  font-size: 22px;
  letter-spacing: 0.2px;
  font-family: Calibre;
}

.card-desc {
  font-size: 17px;
  margin-top: 0;
}

@keyframes project-hover {
  from {
    transfrom: translateY(0px);
  }

  to {
    transfrom: translateY(500px);
  }
}
