.tech-list {
  font-family: SF Mono Light;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}

.tech-list li {
  font-size: 13px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .tech-list {
    margin: 10px 0px;
  }

  .tech-list li {
    -webkit-text-stroke-width: 0.2px;
  }
}
