.third-section {
  border: none;
  background-color: #ffffff;
  color: #191919;
}

#third-section-header {
  font-family: Gravity-Light;
  font-size: 30px;
  text-transform: uppercase;
}

.my-work {
  padding: 60px 15px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: SF Mono Light;
  font-size: 15px;
}

@media (max-width: 768px) {
  .my-work {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
  }

  .featured-projects {
    padding: 0px 15px;
  }
}
