.venture-object {
  position: relative;
}

.venture-name {
  color: var(--color-black);
  width: fit-content;
  padding-bottom: 0px;
  padding-left: 5px;
  margin-bottom: 0px;
  letter-spacing: 0;
  font-style: italic;
  font-family: Calibre;
  font-size: 24px;
}

.venture-list {
  list-style: none;
  font-family: SF Mono Light;
  font-size: 16px;
  border-left-style: solid;
  border-color: rgba(29, 29, 29, 0.9);
  border-width: 8px;
  padding-left: 10px;
}

.venture-list li:empty {
  display: none;
}

@media (max-width: 992px) {
  .venture-object {
    padding: 10px 0px;
  }

  .venture-object:first-of-type {
    padding: 30px 0px 0px 0px;
  }

  .venture-object:last-of-type {
    padding: 0px 0px 30px 0px;
  }
}
