.archive-container {
  margin: 100px 10%;
}

.project-header {
  text-align: center;
  margin-bottom: 3.5em;
}

.archive-title {
  font-family: Calibre;
  font-size: clamp(40px, 8vw, 50px);
  letter-spacing: 0px;
  margin-bottom: 0px;
  line-height: 1em;
}

.archive-desc {
  font-family: Consolas;
  font-style: oblique;
  margin-bottom: 0px;
  color: var(--color-gray);
}
